/* 共通 CSS */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red: rgb(255, 175, 175);
  --color-deep-red: rgb(255, 0, 0);
  --color-pink: rgb(255, 208, 208);
  --color-gray: rgb(128, 128, 128);
  --color-deep-gray: rgb(95, 94, 95);
  --color-light-gray: rgb(192, 192, 192);
  --color-water: rgb(182, 198, 250);
  --color-blue: rgb(0, 0, 255);
  --color-deep-bule: rgb(0, 57, 166);
  --color-light-blue: rgb(123, 149, 251);

  --editable-color: var(--color-light-blue);
  --diseditable-color: var(--color-water);
  /* NOTE: --font-family-default: 'Monospaced'; */
  --font-family-default: 'MS Gothic';

  --font-size-10-5: 10.5px;
  --font-size-11: 11px;
  --font-size-11-5: 11.5px;
  --font-size-12: 12px;
  --font-size-22-5: 22.5px;

  --size-rem-1: 1rem;
  --size-rem-3: 3rem;

  --font-weight-1000: 1000;

  --standard-height: 24px;
  --standard-gap: 8px;
  --base-border: 1px solid var(--color-black);
  --layout-border: 2px solid var(--color-black);

  --margin-2: 2px;

  --default-window-width: 1034px;
  --default-window-height: 678px;

  --display-scaling-factor: 1;
}

/* 部品用特定・一部共通 CSS */
:root {
  --header-height: 80px;
  --content-height: 534px;
  --footer-height: 64px;

  --color-layout-background: var(--color-white);

  --color-header-background: var(--color-deep-bule);
  --color-header-page-title: var(--color-white);

  --color-font: var(--color-black);
  --color-font-disabled: var(--color-light-gray);
  --color-error: var(--color-red);
  --color-warning: var(--color-pink);

  --table-head-background: var(--color-water);
  --table-datum-background: var(--color-white);
  --table-head-border: var(--base-border);
  --table-datum-border: 1px solid var(--color-light-gray);
  --table-datum-height-default: 22px;

  --color-base-button: var(--color-light-gray);
  --base-button-border: 1px solid var(--color-light-gray);

  --color-base-button-disabled: var(--color-gray);

  --color-message-error: var(--color-deep-red);
  --color-message-success: var(--color-deep-bule);
  --font-weight-common: var(--font-weight-1000);

  --font-size-common: var(--font-size-11);

  --base-button-width: 96px;
  --base-button-height: 24px;
  --base-button-font-size: var(--font-size-11);
  --base-actionkey-button-width: 102px;
  --base-time-width: 30px;

  --base-checkbox-border: var(--base-border);
  --base-checkbox-dafult-size: var(--size-rem-1);

  --button-gap: 1rem;

  --group-box-border: 1px solid var(--color-light-gray);

  --radio-border: var(--base-border);
  --radio-border-disabled: 1px solid var(--color-light-gray);

  --shadow-button: 1px 1px 1px rgba(0, 0, 0, 0.5);
  --shadow-input: -1px -1px 1px rgba(0, 0, 0, 0.5);

  --margin-right-common: 2px;
  --margin-right: 14px;
  --margin: 0 10px;
  --margin-right-3rem: var(--size-rem-3);
  --margin-left-right: 0 5px;
  --margin-top-bottom: 5px 0;

  --checkboxgroup-padding-top: 5px;
  --checkboxgroup-padding-bottom: 5px;

  --width-between-start-end: 2rem;

  --base-test-width: 10px;

  --color-link-text: var(--color-blue);

  --number-input-free-dash-left: 3px;

  --tree-item-margin-bottom: 5px;
  --tree-item-min-height: 20px;
  --tree-item-before-left: -5px;
  --tree-item-before-width: 1px;
  --tree-item-after-width: 10px;

  --dateym-input-width: 50px;
  --dateymd-input-width: 71px;
  --datetime-input-width: 133px;

  --time-input-width: 12px;

  --table-time-input-margin-left: 10px;
  --table-time-input-width: 25px;
  --table-time-input-padding-left: 16px;

  --dateym-input-width: 50px;
  --dateymd-input-width: 71px;
  --datetime-input-width: 133px;
}
