/*样式清除 */
*{
    margin: 0;
    padding: 0;
 }

#box{
     width: 200px;
     height: 200px;
     background: pink;
     border-radius: 5px;
     border: 1px solid black;
     position: relative;/*p跟随鼠标 所以这里要相对定位 */
 }
#box p{
    width: 300px;
    height: 200px;
    background-color: peachpuff;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;/*跟随鼠标 所以要设置成绝对定位 */
    display: none;/*初始化时不显示*/
    pointer-events: none;/*穿透属性*/
}